#shade {
    position: absolute;
    height: 150px;
    width: 40%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
    margin-left: 30%;
    top: 0;
}



#staticHeader div{
    background-color: red;
    height: 100px;
    width: 30%;
    color: #FAFAFA;
    text-align: center;
    font-weight: bold;
}

#luxShade {
    font-family: Old_Style;
    font-size: 40px;
    line-height: 0;
}



#staticHeader {
    left: 0;
    width: 100%;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#lensShade{
    font-size: 40px;
    font-family: Lens;
}



body {
    margin: 0;
}

#mainBarContainer {

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.barContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

#mainName {
    text-shadow: 3px 8px 0 rgba(0, 0, 0, 0.7);
    font-weight: bold;
    color: #FAFAFA;
    margin: 0;
    letter-spacing: 2pt;
    font-size: 80px;
    text-align: center;
    font-family: Lens;
}


.bar img {
    height: 300px;
    width: 100%;
}

.bar {
    background: red;
    width: 750px;
    margin: 4%;

}


.bar:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.barTextDiv {
    height: 40px;
}

.growInfo{
    transition: all 1s linear;
    height: 400px;
    background: blue;

}


.reduceInfo{
    transition: all 1s linear;
    height: 0;
    font-size: 0;
}


.infoNotDisplayed{
    height: 0;
    font-size: 0;
}


#doorStep {
    position:fixed;
    left:0px;
    bottom:0px;
    height:100px;
    width:100%;
    background:#999;
}

.arrow{
    background: green;
    width: 10%;
    height: 100%;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}