#shade {
    background-color: red;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: block;
    z-index: 1;
}

body {
    background-color: lightblue;
}




#mainBarContainer {
    position: relative;
    width: 60%;
    margin: auto;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.barContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

#mainName{
    font-weight:bold;
    font-style:oblique;
    color:#FFFFFF;
    letter-spacing:0pt;
    word-spacing:18pt;
    font-size:191%;
    text-align:left;
    font-family:georgia, serif;
    line-height:1;
}






.bar a{
    position: relative;
    margin: 0;
    text-decoration: none;
    text-align: center;
}
.bar a div{
    height: 100%;
    width: 100%;
}
.bar a div img{
    height: 80%;
    width: 100%;
}

.bar {
    background: red;
    height: 400px;
    width: 550px;
    margin: 5%;
   /* border: 10px solid rgba(255, 255, 255, 0 );*/

}

.bar:hover {
    box-shadow: 0 0 50px rgba(0,0,0,0.5);

}


.barText {
    color: black;

}