#shade {
    background-color: red;
    height: 150px;
    width: 60%;
    left: 0;
    top: 0;
    z-index: 1;
    margin-left: 20%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
    position: relative
}



.rotateArrow {
    transition: 1s;
    transform: rotate(180deg);
}

#shade div{
    text-align: center;
}

#luxShade {
    position: absolute;
    width: 20%;
    height: 100px;
    left: 0;
    top: 0;
    background: red;
    margin: 0;
}


#staticShade {
    width: 100%;
    top: 0;

    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#staticShade div{
    width: 20%;
    height: 100px;
    background: red;
    z-index: 0;
    position: relative
}

#luxFont {
    color: #FAFAFA;
    font-family: Old_Style;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 0;
}

#lensFont{
    color: #FAFAFA;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    font-family: Lens;
}

body {
    margin: 0;
}

#mainBarContainer {

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.barContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

#mainName {
    position: relative;
    margin: 0;
    text-shadow: 3px 8px 0 rgba(0, 0, 0, 0.7);
    font-weight: bold;
    color: #FAFAFA;
    letter-spacing: 30pt;
    word-spacing: 20pt;
    font-size: 100px;
    text-align: center;
    font-family: Lens;
    /*font-family: adine_kirnbergregular;*/
}


.bar img {
    height: 300px;
    width: 100%;
}

.bar {
    background: red;
    width: 700px;
    margin: 5%;

}


.bar:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.barTextDiv {
    height: 40px;
}

.growInfo{
    transition: all 2s linear;
    height: 400px;
    background: white;

}


.reduceInfo{
    transition: all 1s linear;
    height: 0;
    font-size: 0;
}


.infoNotDisplayed{
    height: 0;
    font-size: 0;
}


